/*reglas: EL CONJUNTO DE TODO LO DE ABAJO
selectores: cOMO IDENTIFICAR UN ELEMENTO HTML
declaraciones: LO QUE HACEMOS CON EL SELECTOR
propiedades: LO QUE HACEMOS CON EL ELEMENTO
valores: LOS VALORES QUE ESPERAN PARA ACTUAR DE FORMA CORRECTO*/

header {
    background: pink;
}


/* Selector de etiqueta: 
Example: header - sectoion - article - nav
Selector descendente: de elementos hijos
Example: body header div nav ol li a {}
Selector id: para un solo elemento
Example: #portafolio
Selector  clase: puedes usar en varios
Example:.portafolio*/

body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Rufina', serif;
    font-weight: normal;
}

h1 {
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    color: #002D5B;
}

h1 strong {
    color: #026fff;
}

h2 {
    color: #026fff;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.logo {
    padding: 0px 45px;
}

.portfolio {
    background: #fafafa;
    padding: 20px;
}

.project {
    /* border-top: 10px solid red;
    border-bottom: 10px solid green;
    border-left: 10px solid orange;
    border-right: 10px solid pink; */
    /* border-color: red;
    border-width: 15px;
    border-style: solid; */
    border: 1px solid gray;
    border-radius: 10px;
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project_title {
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px 0;
}

.project_course {
    margin: 10px 0;
}

.project_date {
    margin: 10px 0;
}

.project_url {
    margin: 10px 0;
}

.project_description {
    font-size: 20px;
}

.project_details {
    width: 500px;
}

.project_imageContainer {
    width: 500px;
}

.project strong {
    font-family: 'Fjalla One', sans-serif;
    ;
}

.header {
    background-color: white;
    color: #202020;
    display: flex;
    justify-content: space-between;
    width: 1423px;
    height: 103px;
    align-items: center;
}

.header ol {
    display: flex;
    height: inherit;
    padding: 0 0;
}

.header ol li {
    display: flex;
    height: inherit;
}

.header a {
    color: #000025;
    text-decoration: none;
    height: inherit;
    display: flex;
    align-items: center;
    padding: 0 22.5px;
    font-size: 16px;
    font-weight: 500;
    border: 0;
}

.header a:hover {
    color: #ec5b53;
    position: relative;
    transition-property: all;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}

.container_header_contact {
    height: 103px;
    position: relative;
}

.header_contact {
    margin: 0px 45px;
    width: 191px;
    height: 54px;
    padding: 54px 191px;
    border: none;
    border-radius: 5px;
    background-color: var(--background-color);
    color: white;
    font-family: inherit;
    font-size: 16px;
    padding: 0 0;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    position: inherit;
    top: 50%;
    transform: translateY(-50%);
    --background-color: #EC5B53;
    --accent-color: #E44239;
}

.header_contact_hover_pop::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(.75, 1.67, .56, .57);
    transform: scaleX(0);
    transform-origin: left;
}

.header_contact_hover_pop:hover::before,
.header_contact_hover_pop:focus::before {
    transform: scaleX(1);
}

.menu {
    height: inherit;
}

.hero {
    height: 697px;
    /* background-image: url('../images/hero.jpg'); */
    background-image: url(https://jairomerea.com/wp-content/uploads/2020/portafolio/background.jpg);
    /* background-size: 500px 300px;
    background-position-x: right; */
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero_container_image {
    width: 539px;
    height: 697px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    /* margin: 120 0 0 0; */
}

.hero_image {
    height: 90%;
    object-fit: cover;
}

.hero_span {
    position: relative;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 300;
    color: #EA6B64;
    /* padding: 60px 0; */
}

.hero_details {
    color: #002D5B;
    width: 630px;
}

.hero_details_title {
    margin: 60px 0;
}

.hero_details_paragraph {
    color: #73798B;
    font-family: 'Rubik', sans-serif;
    margin: 0;
}

.hero_buttons_a,
.hero_buttons_b {
    border: none;
    position: relative;
    height: 54px;
    width: 173px;
    padding: 0;
    margin: 45px 0;
    border-radius: 5px;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--background-color);
    z-index: 1;
    /* transition: color ease-in-out; */
    --background-color: #EC5B53;
    --accent-color: #E44239;
}

.hero_buttons_a::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(.75, 1.67, .56, .57);
}

.hero_buttons_a:hover::before,
.hero_buttons_a:focus::before {
    transform: scaleX(1);
}


/* .hero_buttons_a:hover,
.hero_buttons_a:focus {
    color: whitesmoke;
} */

.hero_buttons_b {
    border: 1px solid #EC5B53;
    border-color: rgba(236, 91, 83, 0.25);
    margin: 45px 19px;
    color: #464d65;
    background: var(--background-color);
    transition: color 0.4s linear;
    --background-color: transparent;
    --accent-color: #E44239;
}

.hero_buttons_b::before {
    content: '';
    position: absolute;
    border-radius: inherit;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    background-color: var(--accent-color);
    transform: scaleY(0);
    transform-origin: top;
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(.75, 1.67, .56, .57);
}

.hero_buttons_b:hover::before,
.hero_buttons_b:focus::before {
    transform: scaleY(1);
}

.hero_buttons_b:hover,
.hero_buttons_b:focus {
    color: white;
}

.flexbox {
    display: flex;
    flex-wrap: wrap;
}

.box {
    width: 50px;
    height: 50px;
    border: 1px solid red;
    margin: 5px;
    flex-shrink: 0;
}

ol,
ul {
    margin: 0;
    padding: 0, 45px;
    list-style: none;
}

figure {
    margin: 0;
}

.footer {
    background-color: #1b2127;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.event_list {
    display: flex;
    flex-wrap: wrap;
}

.event_list_title {
    margin-left: 20px;
}

.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #f4fbff;
}

.event img {
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event_detail {
    background-color: white;
    margin: 20px 40px;
    margin-top: -40px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event_description {
    text-align: left;
}

.event_url {
    border: 1px solid;
    color: #056fff;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact {
    background-color: #056fff;
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social {}

.social_link_twiter,
.social_link_facebook,
.social_link_github,
.social_link_instagram {
    width: 50px;
    height: 50px;
    display: inline-block;
    background-size: 50px 50px;
    margin: 0 10px;
}

.social_link_twiter {
    background-image: url('../images/twitter.svg');
}

.social_link_facebook {
    background-image: url('../images/facebook.svg');
}

.social_link_github {
    background-image: url('../images/github.svg');
}

.social_link_instagram {
    background-image: url('../images/instagram.svg');
}

.email input {
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.email button {
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0px;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    /* margin: 10px auto 0; */
}

.email h3 {
    font-family: 'Source Sans Pro', sans-serif;
}

.container {
    width: 1169px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    height: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}