section(id="about" class="about")
    div(class="about_details")
        h3(class="about_details_h3") developing with passion while helping businesses.
        p(class="about_details_p1") My goal is your goal. I'll help you to put on line your mock up.<br> My knowledge in Git, Html, Css and Php allows me to decide the better option for the project you have.
        p(class="about_details_p2") I let you my contact information on the right, let's talk.
    div(class="about_contact")
        h3(class="about_contact_h3") let's talk and work together.
        a(class="about_contact_a" href="https://wa.link/596hyg" target="_blank")
            p(class="about_contact_p") text me on whatssap
        a(class="about_contact_a" href="mailto:hola@jairomerea.com?Subject=I%Saw%your%Portfolio") hola@jairomerea.com