section(id="contact" class="contact")
    div(class="container_contact_right")
        h3(class="container_contact_right_h3") If Not Now, When <br>Let’s Work Together!
        p(class="container_contact_right_p") Every project that I take I put passion, ingenious and discipline. There are various solutions waiting for your company to find out them and I'm going to help you to find them.
        img(onclick="window.location.href = 'index.html'" class="container_contact_right_image"  src="https://jairomerea.com/wp-content/uploads/2020/portafolio/logohome.png" height="60" alt="Logo")
    div(class="container_contact_left")
            form(action="#about" class="email")
                input(class="contact_left_name" type="text" placeholder="full name" id="name")
                input(class="contact_left_email" type="text" placeholder="Email adress" id="email")
                textarea(class="contact_left_message") Your message
                button(class="contact_left_button") Send Message