i(class="icon-menu burguer_button")
header(id="header" class="header")
    figure(onclick="window.location.href = 'index.html'" class="header_logo")
        a(href="https://codingjairomerea.github.io/portfolio/" class="header_logo")
        img(class="header_img" src="https://jairomerea.com/wp-content/uploads/2020/portafolio/logohome.png" height="60" alt="Logo de http://coding.jairomerea.com")
    nav(id="menu" class="menu")
        ol
            li
                a(id="menuitem1" class="menu_item menuitem1" href="#about") About Me
            li
                a(id="menuitem2" class="menu_item menuitem2" href="#technologies") Mastered Technologies
            li
                a(id="menuitem3" class="menu_item menuitem3" href="#portfolio") Portfolio
            div(class="container_header_contact")
                button(onclick="window.location.href = '#contact'" class="header_contact header_contact_hover_pop") Contact Me