section(id="hero" class="hero")
    div(class="container")
        div(class="hero_details")
            p(class="hero_span") get the digital solution you need
            h1(class="hero_details_title") I'm Jairo Merea,<br> Web Developer
            p(class="hero_details_paragraph") I'm a psychologist who turned into programming, I use my soft and hard skills to help my customers to reach out their goals.
            div(class="hero_buttons")
                button(onclick="window.location.href = '#portfolio'" class="hero_buttons_a") Portfolio
                button(onclick="window.location.href = '#about'" class="hero_buttons_b") Email me
        div(class="hero_container_image")
            img(class='hero_image' src="https://jairomerea.com/wp-content/uploads/2020/portafolio/hero-picture.png" alt="Imagen principal del sitio")