section(id="portfolio" class="porfolio")
    h2(class="portfolio_h2") my github repository and <br>other projects
    div(class="container_portfolio")           
        figure(class="container_portfolio_image_right")
            a(class="container_portfolio_image_right_a" href="https://github.com/Codingjairomerea" target="_blank")
                img(class="portfolio_image_right " src="https://jairomerea.com/wp-content/uploads/2020/portafolio/repository.png"  alt="GIT IMAGE")
        div(class="container_portfolio_image_left_1and2")
            figure(class="container_portfolio_image_left_0")
                a(class="container_portfolio_image_left_a" href="https://github.com/Codingjairomerea" target="_blank")
                    img(class="portfolio_image_left_0" src="https://jairomerea.com/wp-content/uploads/2020/portafolio/repository.png" alt="GIT IMAGE")
            figure(class="container_portfolio_image_left_1")
                a(class="container_portfolio_image_left_a" href="https://jairomerea.com/" target="_blank")
                    img(class="portfolio_image_left_1" src="https://jairomerea.com/wp-content/uploads/2020/portafolio/wordpress.png" alt="wordpress")
            figure(class="container_portfolio_image_left_2")
                a(class="container_portfolio_image_left_a" href="https://codingjairomerea.github.io/github/blogpost.html" target="_blank")
                    img(class="portfolio_image_left_2" src="https://jairomerea.com/wp-content/uploads/2020/portafolio/gitimage.png" alt="repositorio de cv")
    div(class="container_slider_portfolio")
        div(id="slider" class="slider_portfolio")
            section
                a(class="slider_image_1" href="https://github.com/Codingjairomerea" target="_blank")
                    img(src="https://jairomerea.com/wp-content/uploads/2020/portafolio/repository.png" alt="Git Repository Image")
            section
                a(class="slider_image_2" href="https://jairomerea.com/" target="_blank")
                    img(src="https://jairomerea.com/wp-content/uploads/2020/portafolio/wordpress.png" alt="Wordpress Image")
            section
                a(class="slider_image_3" href="https://codingjairomerea.github.io/github/blogpost.html" target="_blank")
                    img(src="https://jairomerea.com/wp-content/uploads/2020/portafolio/gitimage.png" alt="Git Image")
        div(class="Slider_Back_Button") &#60;
        div(class="Slider_Next_Button") &#62;