section(id="technologies" class="mastered_technologies")
    h2(class="mastered_technologies_h2") mastered technologies and <br> used on this website
    div(class="container_mastered_technologies")
        div(class="container_mastered_technologies_1")
            figure(class="container_technology_image_1")
                img(src="https://jairomerea.com/wp-content/uploads/2020/portafolio/git.png" height="50" width="50" alt="technology_1")
            h4(class="technologie_h4_1") Git / Github
            p(class="technologie_p_1") Git is one of the best version controllers used in companies around the world. It helps us to have a back up of whatever we changed in our project.
        div(class="container_mastered_technologies_2")
            figure(class="container_technology_image_2")
                img(src="https://jairomerea.com/wp-content/uploads/2020/portafolio/html.png" height="50" width="50" alt="technology_2")
            h4(class="technologie_h4_2") HTML
            p(class="technologie_p_2") Html is is a computer language devised to allow website creation. These websites can then be viewed by anyone worldwide.
        div(class="container_mastered_technologies_3")
            figure(class="container_technology_image_3")
                img(src="https://jairomerea.com/wp-content/uploads/2020/portafolio/css.png" height="50" width="50" alt="technology_3")
            h4(class="technologie_h4_3") CSS
            p(class="technologie_p_3") You can save many hours programming just knowing Css. Is the preferred way for setting the look and feel of a website.