doctype html
html(lang="es")
    include componentes/_head.pug
    body
        include componentes/_header.pug
        include componentes/_hero.pug
        include componentes/_about.pug
        include componentes/_technologies.pug
        include componentes/_portfolio.pug
        include componentes/_contact.pug
        include componentes/_footer.pug
        <script type="text/javascript" src="../js/slider.js"></script>