@media screen and (max-width: 1043px) {
    .menu_item {
        padding: 0 11px;
        
    }
    .hero_details_title {
        font-size: 3.7em;
    }
    .hero_image {
        width: 65%;
    }
    
    .about {
        height: auto;
    }
    
    
    .container_mastered_technologies_1,
    .container_mastered_technologies_2,
    .container_mastered_technologies_3 {
        width: 30%;
    }
    
    .container_contact_right {
        width: 60%;
    }
    
    .container_contact_right_h3 {

    }
    
    .container_contact_right_p {
        padding-right: 22%;
    }
    
    .container_contact_left {
        
    justify-content: end;
    }
    
}



@media screen and (max-width: 1023px) {
    .header {
        height: auto; 
        }
        
    .menu_item {
        
    }
    
    .menu ol {
        font-size: 14px;
    }
    
    .header_contact_hover_pop {
        width: 120%;
        height: 40%;
        
    }
    
    .hero {
        height: auto;
    }
    
    .hero_details {
        font-size: 13px;
    }
    
    .hero_details_title {
        font-size: 3em;
    }
    
    .hero_details_paragraph {
        padding-right: 12%;
    }
    
    
    .hero_container_image {
        width: 50%;
    }
    .hero_image {
        width: 65%;
    }
    
    .about_details,
    .about_contact {
        font-size: 13px;
    }
    
    .about {
        height: auto;
        scroll-margin-top: 150px;
    }
    
    .about_contact_h3,
    .about_contact_p {
        margin: 0 0 15% 0;
    }
    

    
    .mastered_technologies {
        height: auto;
        font-size: 14px;
    }
    
    .technologie_p_1,
    .technologie_p_2,
    .technologie_p_3 {
        font-size: .8em;
    }
    
    .porfolio {
        height: auto;
        font-size: 14px;
    }
    
    .container_portfolio {
        display: block;
        height: auto;
    }
    
    /* .container_portfolio_image_right {
        margin-left: auto;
        margin-right: auto;
        width:60%;
        height: 460px;
    } */
    
    .container_portfolio_image_right {
        display: none;
    }
    
    .container_portfolio_image_left_0 {
        display: block;
    }
    
    .container_portfolio_image_left_1and2 {
        margin-left: auto;
        margin-right: auto;
        width: 60%;
        height: auto;
    }
    
    .container_portfolio_image_left_0,
    .container_portfolio_image_left_1,
    .container_portfolio_image_left_2 {
        width: 100%;
        height: 460px;
    }
    
    .container_contact_right {
        font-size: 14px;

    }
    .container_contact_left {
        width: auto;

    }
    
    .contact {
        height: auto;
    }
    
    .footer {
        font-size: 16px;
    }
    
    .container_footer {
        font-size: .9em;
    }
}


@media screen and (max-width: 767px) {
    .header {
        place-content: auto;
    }
    
    .burguer_button {
        display: block;
    }
    
    .menu {
        padding: 6%;
        position: fixed;
        background: rgb(236, 91, 83, 0.95);;
        z-index: 99;
        right: -100VW;
        top: 60PX;
        width: 75VW;
        height: 50VW;
        transition: .3s;
        border-bottom-left-radius: 15px;
    }
    
    .menu.is_active {
        right: 0;
    }
    
    .menu_item {
    font-size: 1.2em;
    }
    
    .menu ol {
        display: block;
        height: auto;
    }
    .menu ol a {
        margin-left: auto;
        padding: 4% 0;
    }
    
    .hero_details{
        width: auto; 
        text-align: center
    }
    
    .hero_details_paragraph {
        padding-right: 12%;
        padding-left: 12%;
    }
    
    .hero_container_image {
        display: none;
    }
    
    .container_header_contact {
        display: none;
    }
    
    .about {
        display: block;
        scroll-margin-top: 0;
    }
    
    .about_details,
    .about_contact {
        width: auto ;
        text-align: center;
        padding-right: 0;
        padding-left: 0;
    }
    
    .about_details_p1,
    .about_details_p2,
    .container_contact_right_p {
        padding-right: 12%;
        padding-left: 12%; 
    }
    
    .about_details_p2 {
        margin: 0;
    }
    
    .about_contact {
        margin-top: 10%;
    }
    
    .mastered_technologies {
        font-size: 9px;
    }
    
    .container_mastered_technologies {
        display: flex;
        flex-direction: column;
    }
    
    .mastered_technologies,
    .container_contact_right {
        width: 100%;
        font-size: 16px;
        text-align: center;
    }
    .porfolio  {
        width: 88%;
        font-size: 16px;
        text-align: center;
    }
    
    .mastered_technologies_h2,
    .portfolio_h2,
    .container_contact_right_h3 {
        font-size: 1.5em;
    }
    
    
    .container_contact_right_p {
    }
    
    .container_mastered_technologies_1,
    .container_mastered_technologies_2,
    .container_mastered_technologies_3 {
        width: auto;
        margin-top: 5%;
        width: 80%;
        height: 320PX;
    }
    
    .container_portfolio {
        display: flex;
        flex-direction: column;
    }
    
    .portfolio_h2 {
        padding-right: 6%;
        padding-left: 6%;
    }
    
    .container_portfolio_image_left_0,
    .container_portfolio_image_left_1,
    .container_portfolio_image_left_2 {
        width: 100%;
        height: 200px;
    }
    
    
    .container_contact_right_image {
        display: none;
    }
    
    .container_contact_right_p {
        font-size: 0.8125em;
    }
    
    .container_contact_left {
    width: 100%;
    }
    
    .contact_left_name,
    .contact_left_email,
    .contact_left_message,
    .contact_left_button {
    width: 100%; 
    font-size: .9em;
    }

    .container_footer {
        flex-direction: column;
        text-align: center;
        font-size: .8em;
    }
    
    .footer_left {
        justify-content: center;
    }
    
}


@media screen and (max-width: 425px) {
    
    .header_img {
        height: 40px;
    }
    
    .header {
        height: 60px;
    }
    
    .hero_details{
        width: auto; 
        text-align: center
    }
    
    .hero_details_title {
        font-size: 2.5em;
    }
    
    .hero_details {
        font-size: 13px;
    }
    
    .hero_buttons_a,
    .hero_buttons_b {
        height: 35px;
        width: 35%;
    }
    
    .about {
        display: block;
        scroll-margin-top: -15px;
    }
    
    .about_details,
    .about_contact {
        width: auto ;
        text-align: center;
    }
    
    .about_contact {
        margin-top: 10%;
    }
    
    .mastered_technologies {
        scroll-margin-top: 80px;
    }
    
    .container_portfolio_image_left_0,
    .container_portfolio_image_left_1,
    .container_portfolio_image_left_2 {
        width: 100%;
        height: 150px;
    }
    
    .container_slider_portfolio {
        display: block;
    }
    
    .container_portfolio {
        display: none;
    }
    #portfolio {
        section {
            div {
                div {
                    p {
                        font-size: 13px;
                    }
                }
            }
        }
    }
    
}

@media screen and (max-width: 320px){
    
    .header_img {
        height: 35px;
    }
    
    .slider_portfolio {

        height: 200px;
        
        
    }
    
    
    .slider_portfolio img {

        height: 200px;

    }
}